<div class="w-full md:px-6">
    <div id="mainHeading" class="flex justify-between items-center w-full">
        <div>
            <p class="flex justify-center items-center font-medium text-base leading-6 md:leading-4 text-black text-justify">
                <span class="lg:mr-6 mr-4 lg:text-2xl md:text-xl text-lg leading-6 md:leading-5 lg:leading-4 font-semibold text-gray-800">Q{{ question_number }}.</span> {{ getTranslation(question) }}
            </p>
        </div>
        <button (click)="toggleMenu()" aria-label="toggler" class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 px-4">
            <span class="transform">
                <i class="fa-solid" [ngClass]="{'fa-angle-down': !isOpen(), 'fa-angle-up': isOpen()}"></i>
            </span>
        </button>
    </div>

    <div id="menu" [ngClass]="{'faq-question': true, 'open': isOpen()}" class="mt-2 w-full overflow-hidden transition-all duration-300 ease-in-out">
        <p class="text-base leading-6 text-gray-600 font-normal text-justify">
            {{ getTranslation(answer) }}.
        </p>
    </div>
</div>

<hr class="w-full lg:mt-10 my-4"/>