<app-navbar></app-navbar>

<app-banner [url]="bannerUrl"></app-banner>

<div class="px-4 md:px-10">
    <div class="py-4 text-center">
        <h1 class="text-center text-4xl md:text-5xl font-bold text-black">{{ getTranslation('privacy policy') }}</h1>
    </div>

    <div class="flex justify-center md:space-x-10 py-4">
        <img [src]="logo" alt="Logo" style="width: 150px; height: auto;">
        <img [src]="logo_engineering" alt="Logo" class="hidden md:block" style="width: 150px; height: auto;">
        <img [src]="logo_social" alt="Logo" class="hidden md:block" style="width: 150px; height: auto;">
        <img [src]="logo_plants_black" alt="Logo" class="hidden md:block" style="width: 150px; height: auto;">
    </div>

    <div class="max-w-screen-xl mx-auto text-lg">
        <app-privacy-policy-info></app-privacy-policy-info>
    </div>
</div>

<app-footer></app-footer>
