<app-navbar></app-navbar>

<app-banner [url]="bannerUrl"></app-banner>

<div class="px-4 md:px-10">
    <div class="py-4 text-center">
        <h1 class="text-center lg:text-4xl text-3xl lg:leading-9 leading-7 text-black font-semibold">{{ getTranslation('privacy policy') }}</h1>
    </div>

    <div class="max-w-screen-xl mx-auto">
        <app-privacy-policy-info></app-privacy-policy-info>

        <div class="flex justify-center pb-4">
            <img src="assets/logos/Logo.png" class="h-24" alt="Andy Rubiano logo"/>
        </div>
    </div>
</div>

<app-footer></app-footer>
