<form class="space-y-2" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="text-center">
        <h2 class="mb-1 text-3xl font-semibold text-foreground">{{ getTranslation('sign up') }}</h2>
        <p class="text-sm text-muted-foreground">{{ getTranslation('lets get started to this awesome advanture') }}</p>
    </div>

    <div class="flex gap-2">
        <div class="w-1/2">
            <label for="name_1" class="text-sm text-start text-white">{{ getTranslation('first name') }} * <span *ngIf="!form.controls['name_1'].valid && form.controls['name_1'].value" class="msg-error">(Este campo es obligatorio)</span></label>
            <input [ngClass]="{'bg-red-300': !form.controls['name_1'].valid && form.controls['name_1'].touched}" id="name_1" formControlName="name_1" type="text" placeholder="{{ getTranslation('first name') }}" class="flex items-center w-full px-5 py-2 text-sm text-black font-medium outline-none focus:bg-gray-300 placeholder:text-gray-500 rounded-lg"/>
        </div>
    
        <div class="w-1/2">
            <label for="name_2" class="text-sm text-start text-white">{{ getTranslation('second name') }} <span *ngIf="!form.controls['name_2'].valid && form.controls['name_2'].value" class="msg-error">(Este campo es obligatorio)</span></label>
            <input [ngClass]="{'bg-red-300': !form.controls['name_2'].valid && form.controls['name_2'].touched}" id="name_2" formControlName="name_2" type="text" placeholder="{{ getTranslation('second name') }}" class="flex items-center w-full px-5 py-2 text-sm text-black font-medium outline-none focus:bg-gray-300 placeholder:text-gray-500 rounded-lg"/>
        </div>
    </div>

    <div class="flex gap-2">
        <div class="w-1/2">
            <label for="lastname_1" class="text-sm text-start text-white">{{ getTranslation('first lastname') }} * <span *ngIf="!form.controls['lastname_1'].valid && form.controls['lastname_1'].value" class="msg-error">(Este campo es obligatorio)</span></label>
            <input [ngClass]="{'bg-red-300': !form.controls['lastname_1'].valid && form.controls['lastname_1'].touched}" id="lastname_1" formControlName="lastname_1" type="text" placeholder="{{ getTranslation('first lastname') }}" class="flex items-center w-full px-5 py-2 text-sm text-black font-medium outline-none focus:bg-gray-300 placeholder:text-gray-500 rounded-lg"/>
        </div>
    
        <div class="w-1/2">
            <label for="lastname_2" class="text-sm text-start text-white">{{ getTranslation('second lastname') }} <span *ngIf="!form.controls['lastname_2'].valid && form.controls['lastname_2'].value" class="msg-error">(Este campo es obligatorio)</span></label>
            <input [ngClass]="{'bg-red-300': !form.controls['lastname_2'].valid && form.controls['lastname_2'].touched}" id="lastname_2" formControlName="lastname_2" type="text" placeholder="{{ getTranslation('second lastname') }}" class="flex items-center w-full px-5 py-2 text-sm text-black font-medium outline-none focus:bg-gray-300 placeholder:text-gray-500 rounded-lg"/>
        </div>
    </div>
    
    <div class="flex gap-2">
        <div class="w-1/2">
            <label for="identification_number" class="text-sm text-start text-white">{{ getTranslation('identification number') }} *</label>
            <input [ngClass]="{'bg-red-300': !form.controls['identification_number'].valid && form.controls['identification_number'].touched}" id="identification_number" formControlName="identification_number" type="text" placeholder="{{ getTranslation('identification number') }}" class="flex items-center w-full px-5 py-2 text-sm text-black font-medium outline-none focus:bg-gray-300 placeholder:text-gray-500 rounded-lg"/>
        </div>
    
        <div class="w-1/2">
            <label for="birth_date" class="text-sm text-start text-white">{{ getTranslation('birth date') }} *</label>
            <input [ngClass]="{'bg-red-300': !form.controls['birth_date'].valid && form.controls['birth_date'].touched}" id="birth_date" formControlName="birth_date" type="date" placeholder="" class="flex items-center w-full px-5 py-2 text-sm text-black font-medium outline-none focus:bg-gray-300 placeholder:text-gray-500 rounded-lg"/>
        </div>
    </div>

    <div class="flex">
        <div class="w-full">
            <label for="email" class="text-sm text-start text-white">{{ getTranslation('email') }} * <span *ngIf="(!form.controls['email'].valid && form.controls['email'].value!='')" class="msg-error">(Format name&#64;email.com)</span></label>
            <input [ngClass]="{'bg-red-300': !form.controls['email'].valid && form.controls['email'].touched}" id="email" formControlName="email" type="email" placeholder="{{ getTranslation('name@email.com') }}" class="flex items-center w-full px-5 py-2 text-sm text-black font-medium outline-none focus:bg-gray-300 placeholder:text-gray-500 rounded-lg"/>
        </div>
    </div>

    <div class="flex gap-2">
        <!-- <div class="w-1/2">
            <label for="username" class="text-sm text-start text-white">Username *</label>
            <input [ngClass]="{'bg-red-300': !form.controls['username'].valid && form.controls['username'].touched}" id="username" formControlName="username" type="text" placeholder="Username" class="flex items-center w-full px-5 py-2 text-sm text-black font-medium outline-none focus:bg-gray-300 placeholder:text-gray-500 rounded-lg"/>
        </div> -->

        <div class="w-full md:w-1/2 relative">
            <label for="mobile" class="text-sm text-start text-white">{{ getTranslation('mobile') }} *</label>
            <div class="flex items-center">
                <div class="relative flex items-center w-full">
                    <button type="button" (click)="toggleDropdown()" class="flex items-center py-1.5 px-2 text-sm font-medium text-center text-black bg-white border border-gray-300 rounded-s-lg hover:bg-gray-200 min-w-max">
                        <div class="flex items-center space-x-2">
                            <img [src]="getPrefix().icon" alt="Icon" class="w-6 h-6">
                            <span class="truncate">({{ getPrefix().label }})</span>
                        </div>
                    </button>
                    <input id="mobile" type="phone" formControlName="mobile" [ngClass]="{'bg-red-300': !form.controls['mobile'].valid && form.controls['mobile'].touched}" placeholder="{{ getTranslation('mobile') }}" class="flex-grow w-full px-5 py-2 text-sm text-black font-medium outline-none focus:bg-gray-300 placeholder:text-gray-500 rounded-e-lg"/>
                    
                    <div *ngIf="isOpen" class="absolute left-0 top-full mt-1 bg-gray-200 shadow-lg z-20 max-h-60 overflow-y-auto">
                        <div *ngFor="let prefixOption of prefixOptions" (click)="selectPrefix(prefixOption.value)" class="cursor-pointer flex items-center p-2 text-sm text-gray-900 hover:bg-gray-300">
                            <img [src]="prefixOption.icon" alt="Icon" class="w-6 h-6 mr-2">
                            <span>({{ prefixOption.label }})</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>        

        <div class="w-1/2 relative">
            <label for="password" class="text-start text-white">{{ getTranslation('password') }} * <span *ngIf="(!form.controls['password'].valid && form.controls['password'].value!='')" class="msg-error">(Mínimo 6 caracteres)</span></label>
            <input [ngClass]="{'bg-red-300': !form.controls['password'].valid && form.controls['password'].touched}" id="password" formControlName="password" [type]="isPasswordVisible ? 'text' : 'password'"  placeholder="{{ getTranslation('password') }}" class="flex items-center w-full px-5 pr-12 py-2 text-sm text-black font-medium outline-none focus:bg-gray-300 mb-2 placeholder:text-gray-500 rounded-lg"/>

            <button type="button" (click)="togglePasswordVisibility()" class="absolute inset-y-0 right-0 flex items-center px-3 mt-4">
                <i [ngClass]="isPasswordVisible ? 'fa fa-eye-slash' : 'fa fa-eye'" class="text-gray-500"></i>
            </button>
        </div>
    </div>

    <div class="flex items-center w-full">
        <p class="text-xs text-justify text-white">
            {{ getTranslation('by clicking') }} <b>{{ getTranslation('sign up') }}</b>, {{ getTranslation('you agree to our') }} 
            <a (click)="openModal($event, 'TC')" class="cursor-pointer text-green-600 font-semibold hover:underline">{{ getTranslation('terms and conditions') }}</a> {{ getTranslation('and') }} 
            <a (click)="openModal($event, 'PP')" class="cursor-pointer text-green-600 font-semibold hover:underline">{{ getTranslation('privacy policy') }}</a>.
        </p>
    </div>

    <!-- <div class="flex items-center">
        <input id="consent" formControlName="consent" type="checkbox" value="" class="w-4 h-4 bg-white border-gray-300 rounded"/>
        <label for="consent" class="ms-2 text-sm text-white">I agree with the <a (click)="openModal($event)" class="text-green-600 font-semibold hover:underline">{{ getTranslation('privacy policy') }}</a>.</label>
    </div> -->

    <div class="flex items-center">
        <div class="w-full">
            <button type="submit" [disabled]="form.invalid" class="flex flex-1 w-full justify-center focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 disabled:bg-green-400 disabled:opacity-50">{{ getTranslation('sign up') }}</button>
        </div>
    </div>

    <div class="flex">
        <a routerLink="/auth/login" class="text-white hover:underline ml-auto font-semibold">{{ getTranslation('have account') }}</a>
    </div>

    <!-- <div class="text-center">
        <div class="my-4 flex items-center before:mt-0.5 before:flex-1 before:border-t before:border-muted after:mt-0.5 after:flex-1 after:border-t after:border-muted">
            <p class="mx-4 mb-0 text-center text-sm text-muted-foreground">{{ getTranslation('or') }}</p>
        </div>

        <div>
            <a class="flex flex-1 w-full items-center justify-center text-white cursor-pointer bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm px-5 py-2 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">
                <img class="h-5 mr-2" src="assets/images/logos/logo-google.png" alt=""> {{ getTranslation('sign up with google') }}
            </a>
        </div>
    </div> -->
</form>

<div *ngIf="isModalOpen" class="flex fixed inset-0 z-50 items-center justify-center p-4 bg-gray-900 bg-opacity-80">
    <div class="relative w-full max-w-2xl bg-white shadow-lg">
        <div class="flex items-center justify-between p-4 bg-gray-100">
            <h3 *ngIf="modalPart == 'TC'" class="text-2xl font-semibold text-black">{{ getTranslation('terms and conditions') }}</h3>
            <h3 *ngIf="modalPart == 'PP'" class="text-2xl font-semibold text-black">{{ getTranslation('privacy policy') }}</h3>

            <button type="button" class="text-black bg-transparent hover:bg-red-500 hover:text-white rounded-lg text-sm w-6 h-6 ms-auto inline-flex justify-center items-center" (click)="closeModal()">
                <i class="fa-solid fa-x"></i>
            </button>
        </div>

        <div class="px-4 pb-4 space-y-4 text-black text-sm h-80 overflow-y-auto">
            <app-terms-and-conditions-info *ngIf="modalPart == 'TC'"></app-terms-and-conditions-info>
            <app-privacy-policy-info *ngIf="modalPart == 'PP'"></app-privacy-policy-info>
        </div>
    </div>
</div>
  
