<form class="space-y-2" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="text-center">
        <h2 class="mb-1 text-3xl font-semibold text-foreground">Sign Up!</h2>
        <p class="text-sm text-muted-foreground">Let's get started to this awesome advanture!</p>
    </div>

    <div class="text-center">
        <div>
            <a class="flex flex-1 items-center justify-center text-white cursor-pointer bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm px-5 py-2 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">
                <img class="h-5 mr-2" src="assets/images/logos/logo-google.png" alt="">
                Sign up with Google
            </a>
        </div>

        <div class="my-4 flex items-center before:mt-0.5 before:flex-1 before:border-t before:border-muted after:mt-0.5 after:flex-1 after:border-t after:border-muted">
            <p class="mx-4 mb-0 text-center text-sm text-muted-foreground">or</p>
        </div>
    </div>

    <div class="flex gap-2">
        <div class="w-1/2">
            <label for="name_1" class="text-sm text-start text-white">First name * <span *ngIf="!form.controls['name_1'].valid && form.controls['name_1'].value" class="msg-error">(Este campo es obligatorio)</span></label>
            <input [ngClass]="{'bg-red-300': !form.controls['name_1'].valid && form.controls['name_1'].touched}" id="name_1" formControlName="name_1" type="text" placeholder="First name" class="flex items-center w-full px-5 py-2 text-sm text-black font-medium outline-none focus:bg-gray-300 placeholder:text-gray-500 rounded-2xl"/>
        </div>
    
        <div class="w-1/2">
            <label for="name_2" class="text-sm text-start text-white">Second name <span *ngIf="!form.controls['name_2'].valid && form.controls['name_2'].value" class="msg-error">(Este campo es obligatorio)</span></label>
            <input [ngClass]="{'bg-red-300': !form.controls['name_2'].valid && form.controls['name_2'].touched}" id="name_2" formControlName="name_2" type="text" placeholder="First name" class="flex items-center w-full px-5 py-2 text-sm text-black font-medium outline-none focus:bg-gray-300 placeholder:text-gray-500 rounded-2xl"/>
        </div>
    </div>

    <div class="flex gap-2">
        <div class="w-1/2">
            <label for="lastname_1" class="text-sm text-start text-white">First lastname * <span *ngIf="!form.controls['lastname_1'].valid && form.controls['lastname_1'].value" class="msg-error">(Este campo es obligatorio)</span></label>
            <input [ngClass]="{'bg-red-300': !form.controls['lastname_1'].valid && form.controls['lastname_1'].touched}" id="lastname_1" formControlName="lastname_1" type="text" placeholder="First lastname" class="flex items-center w-full px-5 py-2 text-sm text-black font-medium outline-none focus:bg-gray-300 placeholder:text-gray-500 rounded-2xl"/>
        </div>
    
        <div class="w-1/2">
            <label for="lastname_2" class="text-sm text-start text-white">Second lastname <span *ngIf="!form.controls['lastname_2'].valid && form.controls['lastname_2'].value" class="msg-error">(Este campo es obligatorio)</span></label>
            <input [ngClass]="{'bg-red-300': !form.controls['lastname_2'].valid && form.controls['lastname_2'].touched}" id="lastname_2" formControlName="lastname_2" type="text" placeholder="Second lastname" class="flex items-center w-full px-5 py-2 text-sm text-black font-medium outline-none focus:bg-gray-300 placeholder:text-gray-500 rounded-2xl"/>
        </div>
    </div>
    
    <div class="flex gap-2">
        <div class="w-1/2">
            <label for="identification_number" class="text-sm text-start text-white">Identification number *</label>
            <input [ngClass]="{'bg-red-300': !form.controls['identification_number'].valid && form.controls['identification_number'].touched}" id="identification_number" formControlName="identification_number" type="text" placeholder="Identification number" class="flex items-center w-full px-5 py-2 text-sm text-black font-medium outline-none focus:bg-gray-300 placeholder:text-gray-500 rounded-2xl"/>
        </div>
    
        <div class="w-1/2">
            <label for="birth_date" class="text-sm text-start text-white">Birth date *</label>
            <input [ngClass]="{'bg-red-300': !form.controls['birth_date'].valid && form.controls['birth_date'].touched}" id="birth_date" formControlName="birth_date" type="date" placeholder="Birth date" class="flex items-center w-full px-5 py-2 text-sm text-black font-medium outline-none focus:bg-gray-300 placeholder:text-gray-500 rounded-2xl"/>
        </div>
    </div>

    <div class="flex">
        <div class="w-full">
            <label for="email" class="text-sm text-start text-white">Email * <span *ngIf="(!form.controls['email'].valid && form.controls['email'].value!='')" class="msg-error">(Format name&#64;email.com)</span></label>
            <input [ngClass]="{'bg-red-300': !form.controls['email'].valid && form.controls['email'].touched}" id="email" formControlName="email" type="email" placeholder="mail@loopple.com" class="flex items-center w-full px-5 py-2 text-sm text-black font-medium outline-none focus:bg-gray-300 placeholder:text-gray-500 rounded-2xl"/>
        </div>
    </div>

    <div class="flex gap-2">
        <!-- <div class="w-1/2">
            <label for="username" class="text-sm text-start text-white">Username *</label>
            <input [ngClass]="{'bg-red-300': !form.controls['username'].valid && form.controls['username'].touched}" id="username" formControlName="username" type="text" placeholder="Username" class="flex items-center w-full px-5 py-2 text-sm text-black font-medium outline-none focus:bg-gray-300 placeholder:text-gray-500 rounded-2xl"/>
        </div> -->

        <div class="w-1/2">
            <label for="mobile" class="text-sm text-start text-white">Mobile *</label>
            <input [ngClass]="{'bg-red-300': !form.controls['mobile'].valid && form.controls['mobile'].touched}" id="mobile" formControlName="mobile" type="text" placeholder="Mobile" class="flex items-center w-full px-5 py-2 text-sm text-black font-medium outline-none focus:bg-gray-300 placeholder:text-gray-500 rounded-2xl"/>
        </div>

        <div class="w-1/2 relative">
            <label for="password" class="text-start text-white">Password * <span *ngIf="(!form.controls['password'].valid && form.controls['password'].value!='')" class="msg-error">(Mínimo 6 caracteres)</span></label>
            <input [ngClass]="{'bg-red-300': !form.controls['password'].valid && form.controls['password'].touched}" id="password" formControlName="password" [type]="isPasswordVisible ? 'text' : 'password'"  placeholder="Password" class="flex items-center w-full px-5 pr-12 py-2 text-sm text-black font-medium outline-none focus:bg-gray-300 mb-2 placeholder:text-gray-500 rounded-2xl"/>

            <button type="button" (click)="togglePasswordVisibility()" class="absolute inset-y-0 right-0 flex items-center px-3 mt-4">
                <i [ngClass]="isPasswordVisible ? 'fa fa-eye-slash' : 'fa fa-eye'" class="text-gray-500"></i>
            </button>
        </div>
    </div>

    <div class="flex items-center">
        <div class="w-full">
            <button type="submit" [disabled]="form.invalid || loading" class="flex flex-1 w-full justify-center focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 disabled:bg-green-400 disabled:opacity-50">Login</button>
        </div>
    </div>
</form>