<nav class="fixed top-0 z-30 w-full bg-gray-200 dark:bg-black">
    <div class="px-3 py-3 lg:px-5 lg:pl-3">
        <div class="flex items-center justify-between">
            <div class="flex items-center space-x-4">
                <a href="https://YouTube.com/@RubianoAndy" target="_blank" class="flex items-center">
                    <img src="assets/logos/Logo.png" class="h-8 me-3" alt="Andy Rubiano logo"/>
                </a>
                
                <button (click)="toggleSidebar()" type="button" class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200">
                    <span class="w-7 h-7 flex justify-center items-center">
                        <i class="fa-solid fa-bars text-2xl"></i>
                    </span>
                </button>
            </div>
            
            <div class="flex items-center space-x-4">
                <app-dark-mode-toggle></app-dark-mode-toggle>
                <app-language-switcher></app-language-switcher>

                <div class="relative">
                    <button type="button" class="flex text-sm bg-gray-800 rounded-full focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" aria-expanded="false" (click)="toggleMenuDropdown()">
                        <!-- <span class="sr-only">Open user menu</span> -->
                        <img class="w-8 h-8 rounded-full" src="https://flowbite.com/docs/images/people/profile-picture-5.jpg" alt="user photo">
                    </button>

                    <div #dropdownMenu id="dropdown-user" class="z-30 hidden my-4 text-base list-none bg-gray-200 divide-y divide-gray-200 rounded shadow dark:bg-gray-800 dark:divide-gray-600">
                        <div class="px-4 py-3" role="none">
                            <p class="text-sm text-gray-900 dark:text-white" role="none">{{ profile.name_1 }} {{ profile.lastname_1 }}</p>
                            <p class="text-sm font-medium text-gray-900 truncate dark:text-gray-300" role="none">{{ profile.email }}</p>
                        </div>
                        <ul class="py-1 text-sm text-gray-700 dark:text-white" role="none">
                            <li>
                                <a routerLink="/user/account" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white" role="menuitem">
                                    <i class="fa-solid fa-gear me-2"></i> {{ getTranslation('settings') }}
                                </a>
                            </li>

                            <li>
                                <button (click)="logout()" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white w-full text-left" role="menuitem">
                                    <i class="fa-solid fa-right-from-bracket me-2"></i> Sign out
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<aside #sidebar [ngClass]="{'translate-x-0': isSidebarOpen, '-translate-x-full': !isSidebarOpen}" class="fixed top-0 left-0 z-20 w-64 h-screen pt-20 transition-transform bg-gray-200 border-r border-gray-200 dark:bg-black dark:border-gray-700" aria-label="Sidebar">
    <div class="h-full px-3 pb-4 overflow-y-auto">
        <ul class="space-y-2 font-medium">
            <li>
                <a routerLink="/user" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <i class="fa-solid fa-house"></i>
                    <span class="flex-1 ms-3 whitespace-nowrap">{{ getTranslation('home') }}</span>
                </a>
            </li>

            <li>
                <button (click)="toggleListDropdown('products')" class="flex items-center w-full text-left transition duration-75 p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap">Products</span>
                    <span *ngIf="!isDropdownOpen['products']" class="flex-1 ms-3 text-right rtl:text-right whitespace-nowrap">
                        <i class="fa-solid fa-angle-down"></i>
                    </span>

                    <span *ngIf="isDropdownOpen['products']" class="flex-1 ms-3 text-right rtl:text-right whitespace-nowrap">
                        <i class="fa-solid fa-angle-up"></i>
                    </span>
                </button>
            
                <ul id="dropdown-products" [ngClass]="{'hidden': !isDropdownOpen['products'], 'py-2': true, 'space-y-2': true}">
                    <li>
                       <a routerLink="#" class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Products</a>
                    </li>
                    <li>
                       <a routerLink="#" class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Billing</a>
                    </li>
                    <li>
                       <a routerLink="#" class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Invoice</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</aside>

<div class="p-4" [ngClass]="{'ml-64': isSidebarOpen, 'ml-0': !isSidebarOpen}">
    <div class="p-4 mt-14">
        <router-outlet></router-outlet>
    </div>

    <footer class="footer">
        &copy; {{ currentYear }} <a href="https://YouTube.com/@RubianoAndy" target="_blank" class="hover:underline">{{ page }}</a>. {{ getTranslation('all rights reserved') }}.
    </footer>
</div>
  