<app-navbar></app-navbar>

<app-banner [url]="bannerUrl"></app-banner>

<div class="px-4 md:px-10">
    <div class="pt-4 text-center">
        <h1 class="text-center lg:text-4xl text-3xl lg:leading-9 leading-7 text-black font-semibold">{{ getTranslation('terms and conditions') }}</h1>
    </div>

    <div class="flex justify-center md:space-x-10 py-4">
        <img [src]="logo" alt="Logo" style="width: 150px; height: auto;">
        <img [src]="logo_engineering" alt="Logo" class="hidden md:block" style="width: 150px; height: auto;">
        <img [src]="logo_social" alt="Logo" class="hidden md:block" style="width: 150px; height: auto;">
        <img [src]="logo_plants_black" alt="Logo" class="hidden md:block" style="width: 150px; height: auto;">
    </div>

    <div class="max-w-screen-xl mx-auto text-lg">
        <app-terms-and-conditions-info></app-terms-and-conditions-info>
    </div>
</div>

<app-footer></app-footer>
