<app-navbar></app-navbar>

<app-banner [url]="bannerUrl"></app-banner>

<div class="px-4 md:px-9">
    <div class="pt-4 text-center">
        <h1 class="text-center lg:text-4xl text-3xl lg:leading-9 leading-7 text-black font-semibold">{{ 'terms and conditions' | translate: language }}</h1>
    </div>

    <div class="max-w-screen-xl mx-auto pt-4">
        <p class="text-lg text-justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas rutrum consectetur arcu at commodo. 
            Sed suscipit, elit a euismod accumsan, sapien risus lobortis libero, in volutpat elit sem eget enim. 
            Donec malesuada mollis magna in tincidunt. Mauris venenatis dictum massa iaculis auctor. Praesent 
            ullamcorper semper congue. Aliquam tempus ultricies mi non maximus. Pellentesque habitant morbi 
            tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse potenti. Lorem ipsum 
            dolor sit amet, consectetur adipiscing elit. Vivamus quis porttitor lectus, sit amet posuere nunc. 
            In convallis mi eu risus sollicitudin commodo. Suspendisse mi dui, pharetra id maximus at, cursus quis 
            tellus. Cras eu lorem eget leo convallis sagittis vitae at enim.
        </p>
    </div>

    <div class="max-w-screen-xl mx-auto pt-4">
        <p class="text-lg text-justify">
            Cras eu accumsan enim. Suspendisse elementum eu massa non facilisis. Sed dictum turpis blandit pulvinar 
            pellentesque. Nulla facilisi. Sed ut pretium nunc, nec gravida erat. Phasellus ultricies fermentum velit 
            commodo condimentum. Aliquam erat volutpat. Maecenas iaculis gravida porta. Fusce nec lectus nec odio 
            tristique vulputate a quis tortor. Ut vel aliquet lacus.
        </p>
    </div>

    <div class="max-w-screen-xl mx-auto pt-4">
        <p class="text-lg text-justify">
            Pellentesque a ipsum et metus volutpat lobortis quis non lorem. Duis congue dignissim mauris non semper. 
            Maecenas ullamcorper lectus nunc, a ultricies nisl feugiat sit amet. Sed posuere dolor ligula, a placerat 
            urna volutpat id. Curabitur orci ligula, eleifend vitae velit in, sollicitudin porta sem. Quisque a 
            ligula eu nunc vestibulum lacinia vel lobortis augue. Nunc consequat ut metus id pellentesque. Sed 
            interdum augue in justo gravida molestie.
        </p>
    </div>

    <div class="max-w-screen-xl mx-auto pt-4">
        <p class="text-lg text-justify">
            Cras quis vehicula sapien, non efficitur magna. Vivamus ultrices, ipsum eget dictum dignissim, ex lectus 
            ornare leo, nec consequat magna leo in mauris. Nunc sem orci, volutpat at nulla a, posuere placerat sapien. 
            Aenean lobortis risus ex, et euismod sapien egestas facilisis. Vivamus porta congue semper. Cras pharetra 
            mattis dui, a maximus lacus vehicula quis. Nam eget nisi eu leo rhoncus eleifend a sed urna. Etiam 
            elementum sapien elit, vitae ultrices nisl placerat et.
        </p>
    </div>

    <div class="flex justify-center pb-4">
        <img src="assets/images/Logo.png" class="h-24" alt="Andy Rubiano logo"/>
    </div>
</div>

<app-footer></app-footer>
