<div class="space-y-4 text-justify pb-4">
    <p class="text-justify">
        {{ getTranslation('privacy_policy_1') }}.
    </p>

    <p class="text-justify">
        {{ getTranslation('privacy_policy_2') }}:
    </p>

    <ul class="list-disc pl-5">
        <li> {{ getTranslation('provide, operate, and maintain our services') }}. </li>
        <li> {{ getTranslation('improve and personalize your experience on our website') }}. </li>
        <li> {{ getTranslation('communicate with you, including answering your questions, sending updates, and providing customer support') }}. </li>
        <li> {{ getTranslation('understand and analyze how you use our website and services') }}. </li>
        <li> {{ getTranslation('comply with any legal or regulatory obligations') }}. </li>
    </ul>

    <p>
        {{ getTranslation('we do not share, sell, or rent your personal information to third parties except in the following circumstances') }}:
    </p>

    <ul class="list-disc pl-5">
        <li> {{ getTranslation('with your explicit consent') }}. </li>
        <li> 
            {{ getTranslation('with third-party vendors who assist us in operating our website, products and services, provided that such vendors adhere to our privacy policies') }}. 
        </li>
        <li>
            {{ getTranslation('if necessary to comply with the law, respond to a government request or protect our rights and property') }}. 
        </li>
    </ul>

    <h2 class="font-semibold">{{ getTranslation('information security') }}</h2>

    <p>
        {{ getTranslation('information_security_1') }}.
    </p>

    <h2 class="font-semibold"> {{ getTranslation('cookies') }} </h2>

    <p>
        {{ getTranslation('cookies_1') }}.
    </p>

    <h2 class="font-semibold"> {{ getTranslation('links to other sites') }} </h2>

    <p>
        {{ getTranslation('other_sites') }}.
    </p>

    <h2 class="font-semibold">{{ getTranslation('changes to this privacy policy') }}</h2>

    <p>
        {{ getTranslation('privacy_policy_changes_1') }}.
    </p>

    <h2 class="font-semibold"> {{ getTranslation('contact') }} </h2>

    <p>
        {{ getTranslation('contact_information') }} <a class="text-blue-700 hover:underline" routerLink="/contact">{{ getTranslation('here') }}</a>.
    </p>
</div>