<form class="flex flex-col items-center max-w-sm mx-auto">
    <label class="mb-4 text-sm text-gray-500 dark:text-white text-center">{{ 'please introduce the 6 digit code we sent via email' | translate: language }}</label>
    <div class="flex mb-2 space-x-2 rtl:space-x-reverse">
        <div>
            <!-- <label for="code_1" class="sr-only">First code</label> -->
            <input type="text" formControlName="code_1" id="code_1" maxlength="1" data-focus-input-init data-focus-input-next="code_2" class="block w-9 h-9 py-3 text-sm font-extrabold text-center text-gray-900 bg-white border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-white dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-primary-500 dark:focus:border-primary-500"/>
        </div>
        <div>
            <!-- <label for="code_2" class="sr-only">Second code</label> -->
            <input type="text" formControlName="code_2" id="code_2" maxlength="1" data-focus-input-init data-focus-input-prev="code_1" data-focus-input-next="code_3" class="block w-9 h-9 py-3 text-sm font-extrabold text-center text-gray-900 bg-white border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-white dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-primary-500 dark:focus:border-primary-500"/>
        </div>
        <div>
            <!-- <label for="code_3" class="sr-only">Third code</label> -->
            <input type="text" formControlName="code_3" id="code_3" maxlength="1" data-focus-input-init data-focus-input-prev="code_2" data-focus-input-next="code_4" class="block w-9 h-9 py-3 text-sm font-extrabold text-center text-gray-900 bg-white border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-white dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-primary-500 dark:focus:border-primary-500"/>
        </div>
        <div>
            <!-- <label for="code_4" class="sr-only">Fourth code</label> -->
            <input type="text" formControlName="code_4" id="code_4" maxlength="1" data-focus-input-init data-focus-input-prev="code_3" data-focus-input-next="code_5" class="block w-9 h-9 py-3 text-sm font-extrabold text-center text-gray-900 bg-white border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-white dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-primary-500 dark:focus:border-primary-500"/>
        </div>
        <div>
            <!-- <label for="code_5" class="sr-only">Fifth code</label> -->
            <input type="text" formControlName="code_5" id="code_5" maxlength="1" data-focus-input-init data-focus-input-prev="code_4" data-focus-input-next="code_6" class="block w-9 h-9 py-3 text-sm font-extrabold text-center text-gray-900 bg-white border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-white dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-primary-500 dark:focus:border-primary-500"/>
        </div>
        <div>
            <!-- <label for="code_6" class="sr-only">Sixth code</label> -->
            <input type="text" formControlName="code_6" id="code_6" maxlength="1" data-focus-input-init data-focus-input-prev="code_5" class="block w-9 h-9 py-3 text-sm font-extrabold text-center text-gray-900 bg-white border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-white dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-primary-500 dark:focus:border-primary-500"/>
        </div>
    </div>
</form>