<div class="flex flex-col max-w-sm w-full h-full p-4 rounded-lg border border-gray-200 hover:border-green-500">
    <img class="rounded-lg" [src]="member.picture" alt=""/>

    <h2 class="mb-1 text-xl font-medium text-green-700 text-center">{{ member.name }}</h2>

    <p class="text-sm text-center text-black">
        {{ getTranslation('position') }}: {{ getTranslation(member.position) }}
    </p>

    <div class="flex mt-4 justify-center sm:mt-0">
        <a *ngIf="member.facebook" [href]="member.facebook" target="_blank">
            <img src="assets/social media/Facebook.png" alt="Facebook" style="width: 30px; height: auto;">
        </a>
        
        <a *ngIf="member.linkedin" [href]="member.linkedin" target="_blank">
            <img src="assets/social media/LinkedIn.png" alt="LinkedIn" style="width: 30px; height: auto;">
        </a>
        
        <a *ngIf="member.whatsapp" [href]="member.whatsapp" target="_blank">
            <img src="assets/social media/WhatsApp.png" alt="WhatsApp" style="width: 30px; height: auto;">
        </a>
    </div>
</div>