<div>
    <app-navbar></app-navbar>

    <div class="lg:container bg-white lg:mx-auto lg:py-16 md:py-12 md:px-6 py-12 px-4">
        <h1 class="text-center lg:text-4xl text-3xl lg:leading-9 leading-7 text-gray-800 font-semibold">FAQ's</h1>

        <div class="w-full md:px-6">
            
            <hr class="w-full lg:mt-10 my-4"/>

            <app-faq-question></app-faq-question>

            <app-faq-question></app-faq-question>

        </div>
    </div>

    <app-footer></app-footer>
</div>