<app-navbar></app-navbar>

<app-banner [url]="bannerUrl"></app-banner>

<div class="px-4 md:px-9">
    <div class="max-w-screen-xl mx-auto lg:container bg-white lg:py-16 md:py-12 md:px-6 py-12 px-4">
        <h1 class="text-center lg:text-4xl text-3xl lg:leading-9 leading-7 text-gray-800 font-semibold">{{ 'faq' | translate: language }}</h1>

        <div class="max-w-screen-xl mx-auto w-full md:px-6">
            <hr class="w-full lg:mt-10 my-4"/>
            <app-faq-question *ngFor="let item of questions; index as i" [question_number]="i + 1" [question]="item.question" [answer]="item.answer"></app-faq-question>
        </div>
    </div>
</div>

<app-footer></app-footer>