<app-navbar></app-navbar>

<app-banner [url]="bannerUrl"></app-banner>

<div> <!-- class="mx-auto" -->
    <div class="pt-4 text-center">
        <h1 class="text-center lg:text-4xl text-3xl lg:leading-9 leading-7 text-black font-semibold">{{ getTranslation('about') }}</h1>
    </div>

    <div class="flex mx-auto p-4 md:px-10">
        <p class="text-lg text-justify">
            {{ getTranslation('company_description') }}
        </p>
    </div>

    <div class="grid gap-4 p-4 md:grid-cols-2 lg:grid-cols-4 justify-items-center">
        <div class="w-full max-w-sm rounded-lg border bg-black border-black">
          <div class="flex flex-col items-center p-4">
            <img class="w-48 h-auto mb-3" src="assets/logos/Logo Brasil.png" alt="Logo" />
            <h2 class="mb-1 text-xl font-medium text-green-600">Bonnie Green</h2>
            <span class="text-sm text-justify text-white">
              We love numbers! We collect data and insights, analyze them then take the time to learn about your objectives, ask the right questions to understand your business.
            </span>
          </div>
        </div>
      
        <div class="w-full max-w-sm rounded-lg border bg-black border-black">
          <div class="flex flex-col items-center p-4">
            <img class="w-48 h-auto mb-3" src="assets/logos/Logo Brasil.png" alt="Logo" />
            <h2 class="mb-1 text-xl font-medium text-green-600">Bonnie Green</h2>
            <span class="text-sm text-justify text-white">
              We love numbers! We collect data and insights, analyze them then take the time to learn about your objectives, ask the right questions to understand your business.
            </span>
          </div>
        </div>
      
        <div class="w-full max-w-sm rounded-lg border bg-black border-black">
          <div class="flex flex-col items-center p-4">
            <img class="w-48 h-auto mb-3" src="assets/logos/Logo Brasil.png" alt="Logo" />
            <h2 class="mb-1 text-xl font-medium text-green-600">Bonnie Green</h2>
            <span class="text-sm text-justify text-white">
              We love numbers! We collect data and insights, analyze them then take the time to learn about your objectives, ask the right questions to understand your business.
            </span>
          </div>
        </div>
      
        <div class="w-full max-w-sm rounded-lg border bg-black border-black">
          <div class="flex flex-col items-center p-4">
            <img class="w-48 h-auto mb-3" src="assets/logos/Logo Brasil.png" alt="Logo" />
            <h2 class="mb-1 text-xl font-medium text-green-600">Bonnie Green</h2>
            <span class="text-sm text-justify text-white">
              We love numbers! We collect data and insights, analyze them then take the time to learn about your objectives, ask the right questions to understand your business.
            </span>
          </div>
        </div>
    </div>

    <div class="flex justify-center w-full p-4 bg-gray-200">
        <div class="w-full max-w-screen-lg">
            <ul class="grid sm:grid-cols-2 gap-8 justify-items-center">
                <li class="flex">
                    <div class="px-4 text-5xl font-extralight text-green-500">1.</div>
                    <div>
                        <div class="text-xl font-bold text-green-700">Research</div>
                        <p class="max-w-xs py-2 text-sm text-black text-justify">We love numbers! We collect data and insights, analyze them then take the time to learn about your objectives, ask the right questions to understand your business.</p>
                    </div>
                </li>

                <li class="flex">
                    <div class="px-4 text-5xl font-extralight text-green-500">2.</div>
                    <div>
                        <div class="text-xl font-bold text-green-700">Strategey</div>
                        <p class="max-w-xs py-2 text-sm text-black text-justify">Solutions are born from proper research, hard work, and strong strategy. We build data-driven roadmaps for every project to make pave the way to success.</p>
                    </div>
                </li>
                <li class="flex">
                    <div class="px-4 text-5xl font-extralight text-green-500">3.</div>
                    <div>
                        <div class="text-xl font-bold text-green-700">Design</div>
                        <p class="max-w-xs py-2 text-sm text-black text-justify">We design the right solution for your business. We craft beautiful, intuitive, and user-friendly interfaces that are easy to use and easy to maintain.</p>
                    </div>
                </li>
                <li class="flex">
                    <div class="px-4 text-5xl font-extralight text-green-500">4.</div>
                    <div>
                        <div class="text-xl font-bold text-green-700">Development</div>
                        <p class="max-w-xs py-2 text-sm text-black text-justify">We build the right solution for your business. We craft beautiful, intuitive, and user-friendly interfaces that are easy to use and easy to maintain.</p>
                    </div>
                </li>
                <li class="flex">
                    <div class="px-4 text-5xl font-extralight text-green-500">5.</div>
                    <div>
                        <div class="text-xl font-bold text-green-700">Deployment</div>
                        <p class="max-w-xs py-2 text-sm text-black text-justify">We build the right solution for your business. We craft beautiful, intuitive, and user-friendly interfaces that are easy to use and easy to maintain.</p>
                    </div>
                </li>

                <li class="flex">
                    <div class="px-4 text-5xl font-extralight text-green-500">6.</div>
                    <div>
                        <div class="text-xl font-bold text-green-700">Deployment</div>
                        <p class="max-w-xs py-2 text-sm text-black text-justify">We build the right solution for your business. We craft beautiful, intuitive, and user-friendly interfaces that are easy to use and easy to maintain.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
      
    <div class="flex py-4 justify-center">
        <h1 class="text-3xl lg:text-4xl text-black font-semibold">{{ getTranslation('our team') }}</h1>
    </div>

    <div class="flex flex-col md:flex-row items-center justify-center space-y-4 md:space-y-0 md:space-x-2 p-4">
        <div *ngFor="let member of team" class="w-full md:w-1/4 border bg-black border-gray-700 rounded-lg shadow ">
            <app-team [member]="member"></app-team>
        </div>
    </div>
</div>

<app-footer></app-footer>