<form class="space-y-2" [formGroup]="form_1" (ngSubmit)="onSubmitForm1()" *ngIf="form_type == 'form_1'"> 
    <div class="text-center">
        <h2 class="mb-1 text-3xl font-semibold text-foreground">{{ getTranslation('forgot password') }}</h2>
        <p class="text-sm text-muted-foreground">{{ getTranslation('dont worry, it happens to all of us') }}</p>
        <p class="text-sm text-muted-foreground">{{ getTranslation('complete the following form to recover your account') }}</p>
    </div>

    <div class="flex">
        <div class="w-full">
            <label for="email" class="text-sm text-start text-white">{{ getTranslation('email') }} * <span *ngIf="(!form_1.controls['email'].valid && form_1.controls['email'].value!='')" class="msg-error">(Format name&#64;email.com)</span></label>
            <input [ngClass]="{'bg-red-300': !form_1.controls['email'].valid && form_1.controls['email'].touched}" id="email" formControlName="email" type="email" placeholder="{{ getTranslation('name@email.com') }}" class="flex items-center w-full px-5 py-2 text-sm text-black font-medium outline-none focus:bg-gray-300 placeholder:text-gray-500 rounded-lg"/>
        </div>
    </div>

    <div class="flex items-center">
        <div class="w-full">
            <button type="submit" [disabled]="form_1.invalid || loading" class="flex flex-1 w-full justify-center focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 disabled:bg-green-400 disabled:opacity-50">{{ getTranslation('send code') }}</button>
        </div>
    </div>
</form>

<form class="flex flex-col items-center max-w-sm mx-auto" [formGroup]="form_2" (ngSubmit)="onSubmitForm2()" *ngIf="form_type == 'form_2'">
    <label class="mb-4 text-sm text-gray-500 dark:text-white text-center">{{ getTranslation('please introduce the 6 digit code we sent via email') }}</label>
    <div class="flex mb-2 space-x-2 rtl:space-x-reverse">
        <div>
            <input type="text" formControlName="code_1" id="code_1" maxlength="1" (input)="focusNextInput($event, 'code_2')" (keydown)="handleKeyDown($event, null)" (paste)="handlePaste($event)" class="block w-9 h-9 py-3 text-sm font-extrabold text-center text-gray-900 bg-white border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-white dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-primary-500 dark:focus:border-primary-500"/>
        </div>
        
        <div>
            <input type="text" formControlName="code_2" id="code_2" maxlength="1" (input)="focusNextInput($event, 'code_3')" (keydown)="handleKeyDown($event, 'code_1')" class="block w-9 h-9 py-3 text-sm font-extrabold text-center text-gray-900 bg-white border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-white dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-primary-500 dark:focus:border-primary-500"/>
        </div>
        
        <div>
            <input type="text" formControlName="code_3" id="code_3" maxlength="1" (input)="focusNextInput($event, 'code_4')" (keydown)="handleKeyDown($event, 'code_2')" class="block w-9 h-9 py-3 text-sm font-extrabold text-center text-gray-900 bg-white border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-white dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-primary-500 dark:focus:border-primary-500"/>
        </div>
        
        <div>
            <input type="text" formControlName="code_4" id="code_4" maxlength="1" (input)="focusNextInput($event, 'code_5')" (keydown)="handleKeyDown($event, 'code_3')" class="block w-9 h-9 py-3 text-sm font-extrabold text-center text-gray-900 bg-white border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-white dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-primary-500 dark:focus:border-primary-500"/>
        </div>
        
        <div>
            <input type="text" formControlName="code_5" id="code_5" maxlength="1" (input)="focusNextInput($event, 'code_6')" (keydown)="handleKeyDown($event, 'code_4')" class="block w-9 h-9 py-3 text-sm font-extrabold text-center text-gray-900 bg-white border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-white dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-primary-500 dark:focus:border-primary-500"/>
        </div>
        
        <div>
            <input type="text" formControlName="code_6" id="code_6" maxlength="1" (input)="focusNextInput($event, null)" (keydown)="handleKeyDown($event, 'code_5')" class="block w-9 h-9 py-3 text-sm font-extrabold text-center text-gray-900 bg-white border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-white dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-primary-500 dark:focus:border-primary-500"/>
        </div>
    </div>

    <div class="flex w-full mt-2">
        <div class="w-full relative">
            <label for="new_password" class="text-start text-white">{{ getTranslation('password') }} * <span *ngIf="(!form_2.controls['new_password'].valid && form_2.controls['new_password'].value!='')" class="msg-error">(Mínimo 6 caracteres)</span></label>
            <input [ngClass]="{'bg-red-300': !form_2.controls['new_password'].valid && form_2.controls['new_password'].touched}" id="new_password" formControlName="new_password" [type]="isPasswordVisible ? 'text' : 'password'"  placeholder="{{ getTranslation('password') }}" class="flex items-center w-full px-5 pr-12 py-2 text-sm text-black font-medium outline-none focus:bg-gray-300 mb-2 placeholder:text-gray-500 rounded-lg"/>

            <button type="button" (click)="togglePasswordVisibility()" class="absolute inset-y-0 right-0 flex items-center px-3 mt-4">
                <i [ngClass]="isPasswordVisible ? 'fa fa-eye-slash' : 'fa fa-eye'" class="text-gray-500"></i>
            </button>
        </div>
    </div>

    <div class="flex w-full items-center">
        <div class="w-full">
            <button type="submit" [disabled]="form_2.invalid || loading" class="flex flex-1 w-full justify-center focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 disabled:bg-green-400 disabled:opacity-50">{{ getTranslation('change password') }}</button>
        </div>
    </div>
</form>
